/* 
    For class name convention   
*/
@import "~antd/dist/antd.css";

.index-header {
  background-color: #475b63;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: "100vh";
}

.index-header-title {
  margin-top: 15px;
  color: #fff !important;
}

.dashboard-content-container {
  box-sizing: border-box;
  max-width: 768px;
  margin: 0 auto;
  padding: 16px 16px;
}

.table-content-container {
  box-sizing: border-box;
  max-width: 992px;
  margin: 0 auto;
  padding: 16px 16px;
}

/*
md device breakpoint (768) + sider width (200)
*/
@media only screen and (max-width: 968px) {
  .dashboard-content-container {
  }
  .custom-flex {
    flex-direction: column;
  }

  .custom-flex .ant-col {
    max-width: 100%;
    margin-left: 0%;
  }

  .custom-flex .ant-form-item-label {
    text-align: left;
  }
}
